<%- include('./partials/header') %>

  <div style="max-width: 900px; margin: 0 auto;">
    <p style="font-size: 28px; text-align: justify; line-height: 1.6;">
      This Real Estate Listing Platform called RealEstateLister is a full-stack web application designed to connect
      property
      owners with potential buyers and renters. It allows users to explore, list, and manage real estate properties with
      ease. Featuring a user-friendly interface, and secure login mechanisms, this platform streamlines the process of
      buying, selling, and renting properties.
    </p>

    <ul style="list-style-type: none; padding: 0; font-size: 28px; text-align: center; line-height: 2;">
      <li><a href="/properties">See All Properties</a></li>
      <li><a href="/suburbs">See All Suburbs</a></li>
      <li><a href="/users">See All Users</a></li>
    </ul>

  </div>


  <%- include('./partials/footer') %>