<%- include('../partials/header') %>

<ul>
  <% properties.forEach(function(property){ %>
  <li>
    <a href="/properties/<%= property._id %>"> <%= property.address %> </a>
  </li>
  <% }); %>
</ul>

<%- include('../partials/footer') %>
